@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* fonts */
/* for body */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

/* for titles */
@font-face {
  font-family: "Poppins-Medium";
  src: url("../../public/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 700;
}
